
# lightroom
^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/lightroom.js

# phothop&PSexpress
^https:\/\/lcs-mobile-cops\.adobe\.io\/mobile_profile url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/photoshop.js

hostname = photos.adobe.io, lcs-mobile-cops.adobe.io