
^https:\/\/api\.revenuecat\.com\/.+\/(receipts|subscribers\/(\$RCAnonymousID%)?([\u4E00-\u9FA5A-Za-z0-9-_]+))$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/ABC.js
^https:\/\/api\.revenuecat\.com\/.+\/(receipts|subscribers\/(\$RCAnonymousID%)?([\u4E00-\u9FA5A-Za-z0-9-_]+)) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/ABCD.js
https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/ABCDE.js
^https://firebaseremoteconfig.googleapis.com/v1/projects/filebox-ac299/apps/.* url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/ABCDEF.js

hostname = api.revenuecat.com, buy.itunes.apple.com
