
https:\/\/api\.revenuecat\.com header-del x-revenuecat-etag

https:\/\/api\.revenuecat\.com url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/revenuecat.js

^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/verifyreceipt.js

hostname = api.revenuecat.com, buy.itunes.apple.com
