# Appraven 
^https?:\/\/appraven\.net\/AppRaven\/(app|social|buy) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/appraven.js

# lightroom
^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/lightroom.js

# phothop&PSexpress
^https:\/\/lcs-mobile-cops\.adobe\.io\/mobile_profile url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/photoshop.js

# B612
^https:\/\/user-kaji-api\.b612kaji\.com\/v1\/purchase\/subscription\/subscriber\/status url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/bj.js

# Boom
^https:\/\/apimboom2\.globaldelight\.net\/itunesreceipt_v2\.php$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/boom.js

# Dayone
^https:\/\/dayone\.(me|app)\/api\/(users|v2\/users\/(account-status|receipt))$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/dayone.js

# 黄油相机
https:\/\/api4\.bybutter\.com\/v4\/* url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/hy.js

# 美图秀秀
^https:\/\/api\.xiuxiu\.meitu\.com\/v1 url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/mtxx.js

# 美颜相机
^https?:\/\/api\.account\.meitu\.com\/(common\/check_device_login_pwd|users\/show_current\.json) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/MeiYanXiangJi.js
^https?:\/\/api\.meiyan\.com\/vip\/(user_center\.json|user_info\.json) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/MeiYanXiangJi.js

# Nichi
^https?:\/\/m(p|ini-hk)\.bybutter\.com\/mood\/(official-templates|privileges) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/NiChi.js

# PicsArt
^https:\/\/api\.(picsart|meiease)\.c(n|om)\/users\/show\/me\.json url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/PicsArt.js

# Polarr
^https:\/\/api\.polaxiong\.com\/v1\/payments\/appleiap\/receipts\/confirmation url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Polarr.js

# wps
^https?:\/\/.*?account\.wps\.(com|cn)(:\d+)?\/api\/users\/\w+\/overview$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/WPS.js

# Xmind
https?:\/\/www\.xmind\.(cn|net)\/\_res\/devices url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Xmind.js

# 一甜相机
^https?:\/\/m2u-api\.getkwai\.com\/api-server\/api\/v2\/vip\/vipUserInfo url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/ytxj.js

hostname = appraven.net, photos.adobe.io, lcs-mobile-cops.adobe.io, *.adobe.*, user-kaji-api.b612kaji.com, apimboom2.globaldelight.net, dayone.*, api4.bybutter.com, api.xiuxiu.meitu.com, api.account.meitu.com, api.meiyan.com, m*.bybutter.com, api.picsart.c*, api.meiease.c*, api.polaxiong.com, account.wps.cn,*account.wps.com, www.xmind.cn, www.xmind.net, m2u-api.getkwai.com
