#!name = Appraven
#!desc = 没有实际的功能
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Appraven.png

^https?:\/\/v2\.appraven\.net\/appraven\/graphql url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Adblock/appraven.js

hostname = v2.appraven.net