[task_local]
12 0 * * * https://raw.githubusercontent.com/lowking/Scripts/master/bing/bingPoint.js, tag=Bing积分, img-url=https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/xxx/Neteasemusic.png, enabled=true",

[rewrite_local]
# bing
https:\/\/rewards\.bing\.com url script-response-body https://raw.githubusercontent.com/lowking/Scripts/master/bing/bingPoint.js

hostname = rewards.bing.com
