#!name = Bing新闻阅读
#!desc = 获取cookie
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Cookie.png

^https:\/\/prod\.rewardsplatform\.microsoft\.com\/dapi\/me\/activities url script-request-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Bing/BingReadCookie.js

hostname = prod.rewardsplatform.microsoft.com