#!name = Bing积分
#!desc = 获取cookie
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Cookie.png

^https\:\/\/rewards\.bing\.com url script-request-header https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Bing/BingPointCookie.js

hostname = rewards.bing.com