#!name = BoxJs
#!desc = 数据管理
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/BoxJs.png

^https?:\/\/(.+\.)?boxjs\.(com|net) url script-analyze-echo-response https://raw.githubusercontent.com/Toovooo/Rules/master/Script/boxjs.js

hostname = boxjs.com, boxjs.net, *.boxjs.com, *.boxjs.net