#!name = Lightroom
#!desc = 解锁订阅
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Lightroom.png

^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Adobe/lightroom.js

hostname = photos.adobe.io