# Photoshop&PSexpress
^https:\/\/lcs-mobile-cops\.adobe\.io\/mobile_profile url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/photoshop.js

hostname = lcs-mobile-cops.adobe.io