#!name = Spotify
#!desc = 解锁premium
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Spotify.png

^https:\/\/spclient\.wg\.spotify\.com\/(bootstrap\/v1\/bootstrap|user-customization-service\/v1\/customize)$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyProto.js
^https:\/\/spclient\.wg\.spotify\.com\/(artistview\/v1\/artist|album-entity-view\/v2\/album)\/ url script-request-header https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyJson.js

^https?:\/\/api\.spotify\.com\/v1\/tracks\? url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/Spotify.response.js
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*) url script-request-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/Spotify.request.js
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*)subtype=External url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/External.Lyrics.response.js
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/Translate.response.js

hostname = api.spotify.com, spclient.wg.spotify.com
