#!name = Spotify
#!desc = 解锁premium
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Spotify.png

^https:\/\/spclient\.wg\.spotify\.com\/(bootstrap\/v1\/bootstrap|user-customization-service\/v1\/customize)$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyProto.js
^https:\/\/spclient\.wg\.spotify\.com\/(artistview\/v1\/artist|album-entity-view\/v2\/album)\/ url script-request-header https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyJson.js
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*)format=json url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyLyrics.js
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/\w+\?(.*) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Spotify/SpotifyLyrics.js

hostname = spclient.wg.spotify.com
