#!name = 贴吧去广告
#!desc = 开屏广告 各种广告
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Tieba.png

^http(s:\/\/tiebac|:\/\/c\.tieba)\.baidu\.com\/(c\/f\/(frs\/(page|threadlist|generalTabList)|pb\/page|excellent\/personalized)$|tiebaads\/commonbatch|c\/s\/sync$) url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Tieba/TiebaJson.js
^http(s:\/\/tiebac|:\/\/c\.tieba)\.baidu\.com\/c\/f\/(frs\/(page|threadlist|generalTabList)|pb\/page|excellent\/personalized)\?cmd url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Tieba/TiebaProto.js

hostname = tiebac.baidu.com