#!name = Wechat
#!desc = 去公众号广告
#!icon = https://raw.githubusercontent.com/Toovooo/Rules/master/Icon/Black/Wechat.png

^https?:\/\/mp\.weixin\.qq\.com\/mp\/getappmsgad url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/Adblock/wechat.js

hostname = mp.weixin.qq.com