
# ^https?:\/\/[\w-]+\.googlevideo\.com\/initplayback.+&oad url echo-response application/vnd.yt-ump echo-response https://raw.githubusercontent.com/Toovooo/Rules/master/QuantumultX/Snippet/blank.txt
^https?:\/\/[\w-]+\.googlevideo\.com\/initplayback.+&oad url reject-img
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/(browse|next|player|search|reel\/reel_watch_sequence|guide|account\/get_setting)\? url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/youtube.js
^https?:\/\/(www|m|tv)\.youtube\.com\/youtubei\/v1\/player(\?.*)$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/DualSubs.YouTube.Player.response.js
^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext(\?.*)$ url script-response-body https://raw.githubusercontent.com/Toovooo/Rules/master/Script/DualSubs.YouTube.TimedText.response.js

hostname = www.youtube.com, m.youtube.com, tv.youtube.com, youtubei.googleapis.com, -redirector*.googlevideo.com, *.googlevideo.com
